/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.button {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-blue {
    color: #7189DA;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.border-white {
    border: 2px dashed #FFFFFF;
}

.btc-white {
    background-color: white;
}

.btc-black {
    background-color: #23272A;
}

.btc-blue {
    background-color: #7189DA;
}

.main-container {
    width: 75%;
    max-width: 1300px;
    margin: 0 auto;
}

.row-reverse {
    flex-direction: row-reverse;
}

.column {
    flex-direction: column;
}

.section-title {
    font-size: 50px;
    padding-top: 30px;
}

.section-text {
    font-size: 20px;
    padding-top: 20px;
}

/* Header */

.header-bg {
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* Navbar */

.navbar-header {
    padding: 15px;
}

.navbar {
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
}

/* Navbar Logo */

.navbar-logo {
    flex-basis: 20%;
    padding: 10px;
}

/* Navbar Link */

.navbar-link {

    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

/* Navbar Login */

.navbar-login {
    flex-basis: 20%;
    justify-content: flex-end;
    padding: 10px;
}

.btc-white {
    background-color: white;
}

/* Jumbotron */

.jumbotron {
    padding: 30px;
}

.jumbotron-container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin: 80px auto;
}

.jumbotron-title {
    padding-bottom: 35px;
    font-size: 50px;
    font-weight: bold;
}

.jumbotron-text {
    padding-bottom: 30px;
    font-size: 20px;
}

.btc-jumbotron-white {
    background-color: white;
}

.jumbotron-buttons {
    justify-content: center;
    gap: 20px;
}

/* Main 

/* Main Macro Sections*/

.section-bg-white {
    background-color: #FFFFFF;
    padding: 80px;
}

.section-bg-gray {
    background-color: #F6F6F6;
    padding: 80px;
}

/* Main Background Color */

.bg-big {
    flex-basis: 60%;
}

.bg-small {
    flex-basis: 40%;
}

.question-title {
    background-image: url(../img/stars.svg);
    width: 50%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 35px;
    font-size: 30px;
    margin: 50px auto;
}

.button-blue {
    justify-content: center;
}

/* Footer */

/* Footer Sections */

.section-bg-darkgray-big {
    background-color: #23272A;
    padding-top: 80px;
}

.section-bg-darkgray-small {
    background-color: #23272A;
    padding-top: 20px;
}

/* Footer Background Color */

.bg-footer-left {
    flex-basis: 30%;
    padding-bottom: 30px;
}

.bg-footer-right {
    flex-basis: 70%;
    padding-bottom: 30px;
}

.bg-footer-right-inside {
    flex-basis: 25%;
}

.footer-main-title {
    font-size: 35px;
    margin-bottom: 10px;
}

.italian-section {
    justify-content: flex-start;
    gap: 10px;
    padding: 20px 0;
}

.italian-flag {
    height: 20px;
    width: auto;
}

.italian-text {
    font-size: 15px;
}

.footer-link-list {
    padding-bottom: 20px;
}

/* Footer Navbar */

.footer-navbar {
    background-color: #7FFFD4;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-navber-badge {
    background-color: #FFB6C1;
    padding: 5px;
}

.border-bottom {
    border-bottom: 1px solid #7189DA;
}