/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: "Fredoka", sans-serif;
}

a {
    text-decoration: none;
}

.button {
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 15px;
    transition: transform 0.3s;
}

.button:hover {
    transform: scale(1.1);
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.flex {
    display: flex;
}

.border {
    border: 2px dashed black;
}

.border-white {
    border: 2px dashed #FFFFFF;
}

.btc-white {
    background-color: white;
}

.btc-black {
    background-color: #23272A;
}

.main-container {
    width: 75%;
    max-width: 1300px;
    margin: 0 auto;
}

.row-reverse {
    flex-direction: row-reverse;
}

.section-title {
    font-size: 50px;
    padding-top: 30px;
}

.section-text {
    font-size: 20px;
    padding-top: 20px;
}

/* Header */

.header-bg {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar */

.navbar-header {
    padding: 15px;
}

.navbar {
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;
}

/* Navbar Logo */

.navbar-logo {
    flex-basis: 20%;
    padding: 10px;
}

/* Navbar Link */

.navbar-link {

    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

/* Navbar Login */

.navbar-login {
    flex-basis: 20%;
    justify-content: flex-end;
    padding: 10px;
}

.btc-white {
    background-color: white;
}

/* Jumbotron */

.jumbotron {
    padding: 30px;
}

.jumbotron-container {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin: 80px auto;
}

.jumbotron-title {
    padding-bottom: 35px;
    font-size: 50px;
    font-weight: bold;
}

.jumbotron-text {
    padding-bottom: 30px;
    font-size: 20px;
}

.btc-jumbotron-white {
    background-color: white;
}

.jumbotron-buttons {
    justify-content: center;
    gap: 20px;
}

/* Main 

/* Main Macro Sections*/

.section-bg-white {
    background-color: #FFFFFF;
    padding: 30px;
}

.section-bg-gray {
    background-color: #D3D3D3;
    padding: 30px;
}

/* Main Background Color */

.bg-lightblue {
    background-color: #1E90FF;
    flex-basis: 60%;
}

.bg-pink {
    background-color: #FFC0CB;
    flex-basis: 40%;
}

.bg-green {
    background-color: #228B22;
    height: 700px;
}


/* Footer */

/* Footer Sections */

.section-bg-darkgray-big {
    background-color: #23272A;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #FFFFFF;
}

.section-bg-darkgray-small {
    background-color: #23272A;
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding-top: 20px;
}

/* Footer Background Color */

.bg-salmon {
    background-color: #F08080;
    flex-basis: 30%;
}

.bg-aqua {
    background-color: #20B2AA;
    flex-basis: 70%;
}

.bg-aqua-inside {
    flex-basis: 25%;
}

/* Footer Navbar */

.footer-navbar {
    background-color: #7FFFD4;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

.footer-navber-badge {
    background-color: #FFB6C1;
    padding: 5px;
}